<h1>First Recipe</h1>

<h2>Title: <%= @recipe.title %></h2>
<h2>Ingredients: <%= @recipe.ingredients %></h2>
<h2>Directions: <%= @recipe.directions %></h2>
<h2>Prep Time: <%= @recipe.prep_time %></h2>
<img src="<%= @recipe.image %>">